{% extends 'base.html' %}
{% block content %}

  <!-- ======================content========================== -->
{% load crispy_forms_tags %}
<div class="container my-5 p-5 bg-dark-subtle p-5 card mx-auto border-0">
  <div class="content-section">
    <h2 class="text-center tex">Update Password</h2><hr>
    <form method="POST" class="uniForm">
      {% csrf_token %}
      
      {{ form|crispy }}
      <button class="btn btn-outline-dark" type="submit">Update Password</button>
    </form>
  </div>  
</div>
  
{% endblock content %}
