{% extends 'base.html' %}
{% block content %}
<!-- ======================content========================== -->
<div class="container">
  <div class="main-book">
    <div class="book">
      <div class="opening-hours">
        <h2>Opening Hours</h2>
        <div class="day">
          <h4>Monday - Friday</h4>
          <p>7 AM - 11 AM</p>
          <p>11 AM - 10 PM</p>
        </div>
        <div class="day">
          <h4>Saturday - Sunday</h4>
          <p>9 AM - 11 AM</p>
          <p>11 AM - 10 PM</p>
        </div>
        <hr>
        <h3>Call Us: (+123) 708-117-282</h3>
      </div>
      <div class="reservation-form">
        <h2>Reservation Online</h2>
        <form action="{% url 'book_table' %}" class="form1" method="POST">
          {% csrf_token %}
          <div class="reserve">
            <input type="text" name="name" placeholder="Enter Your Name">
          </div>
          <div class="reserve">
            <input type="email" name="email" placeholder="Enter Your Email">
          </div>
          <div class="reserve">
            <input type="text" name="date" placeholder="Select the Date" onfocus="(this.type='date')">
          </div>
          <div class="reserve">
            <input type="text" name="time" placeholder="Select the Time" onfocus="(this.type='time')">
          </div>
          <div class="reserve">
            <select name="table"  aria-placeholder="table">
              {% for value, label in form.table.field.choices %}
              <option value="{{ value }}" {% if form.table.value == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <button type="submit" class="book-btn">Book Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

