<div class="footer">
    <div class="footer-content">
        <a class="navbar-brand mt-1" href="#" style="font-size: 30px;"><img src="/img/logo.png.png" alt=""></a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.aseriores nesciunt consequuntur inventore animi quidem aliquid numquam eos eligendi offilne.</p>
        <ul class="socials list-unstyled">
            <li><a href=""><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-instagram"></i></a></li>
            <li><a href=""><i class="bi bi-youtube"></i></a></li>
            <li><a href=""><i class="bi bi-twitter"></i></a></li>
        </ul>
        <hr>
        <div class="footer-bottom">
            <p>copyright &copy; {{year}} <span><a class="navbar-brand mt-1" href="#" style="font-size: 30px;">FoodHub</a></span> .designed by <span class="text-capitalize">|<a href="" class="text-decoration-none text-white">balogun segun</a></span></p>
        </div>
    </div>
</div>