{% extends 'base.html' %}
{%load static%}
{% block content %}
<!-- =====================================header=============================== -->
<!-- =====================banner=========================== -->
<div class="col-12 ">
  <div class="container-fluid banner-body banner">
    <h1 class="col-lg-6 col-sm-12 header1">Discover an array of quick, mouthwatering bites at our fast-food haven, where speed meets flavor, all served up for your
    satisfaction</h1>
    <div>
      <a href="{% url 'book_table' %}"><button class="banner-button">Order Now</button></a>
      <a href="{% url 'book_table' %}"><button class="banner-button">book a table</button></a>
    </div>
  </div>
</div>
<!-- ========================================Category================================================ -->
<div class="container">
  <div class="food-categ">
    {% for item in category %}
    <div class=" food-logo">
      <a href="{% url 'product' item.slug %}"><img src="{{item.pics.url}}" alt="food_icon">
      <h6 class="text pt-2">{{item.food_name}}</h6>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<!-- =========================Pricing========================================== -->
<div class="container-fluid mt-4">
  <div class="text-center text-capitalize pricing">
    <h3>table price</h3>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magni, aspernatur,<br>nulla consectetur doloremque fugiat na</h6>
  </div>
  <div class="container mt-4">
    <div class="pricing-card">
      <div class="pack-container">
        <div class="pricing-card-header">
          <p class="pricing-card-title">
            Regular Table
          </p>
          <div class="price-container">
            <span>$</span>5
            <span>/hr</span>
          </div>
        </div>
        <div>
          <ul class="lists">
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                2 - 4 Seats
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                Free Desert
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                Free Coffee
              </p>
            </li>
          </ul>
        </div>
        <div class="button-container">
          <button type="button">
            Book Now
          </button>
        </div>
      </div>
      <div class="pack-container">
        <div class="pricing-card-header">
          <p class="pricing-card-title">
            Family Table
          </p>
          <div class="price-container">
            <span>$</span>15
            <span>/hr</span>
          </div>
        </div>
        <div>
          <ul class="lists">
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                6 - 20 Seats
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                Free Desert
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                Free Coffee or Juice 
              </p>
            </li>
          </ul>
        </div>
        <div class="button-container">
          <button type="button">
            Book Now
          </button>
        </div>
      </div>
      <div class="pack-container">
        <div class="pricing-card-header">
          <p class="pricing-card-title">
            Business Table
          </p>
          <div class="price-container">
            <span>$</span>50
            <span>/hr</span>
          </div>
        </div>
        <div>
          <ul class="lists">
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                20+ seats
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                free Desert
              </p>
            </li>
            <li class="list">
              <span>
                <svg aria-hidden="true" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.5 12.75l6 6 9-13.5" stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
              </span>
              <p>
                free Coffee or Juice
              </p>
            </li>
          </ul>
        </div>
        <div class="button-container">
          <button type="button">
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ===========================Discount================================ -->
<div class="container-fluid Discount">
  <h2 id="h2">Use Code: <strong class="h2 px-2">NewUICOOL</strong> TO Get 20% Discount On All Orders.</h2>
</div>
<!-- ====================================About============================================ -->
<div class="container-fluid about">
  <div class="about1 col-12 col-lg-6 col-md-6 col-sm-6">
    <h1>about us</h1>
    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione deleniti eius error assumenda! Praesentium,
      magnam.</h4>
  </div>
  <div class="about2 col-12 col-lg-6 col-md-6 col-sm-6" style="display: flex; flex-direction: column; align-items: center;">
    <a href=""><img src="{%static '/img/260447566-01.png'%}" alt="img" style="height: 300px;"></a>
    <h4 class="text-capitalize">mr. david</h4>
  </div>
</div>  
<!-- =================================contact============================================ -->
<div class="container contact">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-6  ">
          <div class="contact-details align-items-center">
            <h2>contact us</h2>
            <p> Mon – Fri: <span class="ps-3">9:00 am – 8:00 pm, </span></p>
            <p>Sat – Sun: <span class="ps-3"> 9:00 am – 10 pm</span></p>
            <p>Address: <span class="ps-3">3045 10 Sunrise Avenue</span> </p>
            <p>contact: <span class="ps-3">123-456-7890</span></p>
            <p><a href="">Email:<span class="ps-3">segun@gmail.com</span> </a></p>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram ps-2"></i></a>
            <a href=""><i class="bi bi-twitter ps-2"></i></a>
            <a href=""> <i class="bi bi-google ps-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 contact-form">
          <form action="{% url 'home' %}" class="contact1"  method="POST">
            {% csrf_token %}
            <!-- Name input -->
            <div class="form mb-4">
              <input type="text" name="name" placeholder="Enter your Name">
            </div>
          
            <!-- Email input -->
            <div class="form mb-4">
              <input type="email" name="email" placeholder="Enter your Email"/>
            </div>
          
            <!-- Message input -->
            <div class="form mb-4">
              <textarea rows="4" name="message" placeholder="Enter Your Message "></textarea>
            </div>
            <button type="submit" class="contact-button">Send</button>
          </form>
        </div>
      </div>
      <!-- Submit button -->
      
    </div>
  </div>
</div>
{% endblock content %}