{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<!-- ================================================ -->
  <div class="container profile">
    <div class="profile-info">
      <h1 class="text-center text-capitalize">information</h1>
      <hr>
      <div class="profile-info-input">
        <label>
          Full Name:
          <input type="text" value="{{user.full_name}}" disabled />
        </label>
      </div>
      <div class="profile-info-input">
        <label>
          email:
          <input type="text" name="" value="{{user.email}}" disabled />
        </label>
      </div>
      <div class="profile-info-input">
        <label>
          phone:
          <input type="text" name="" value="07044123638" disabled />
        </label>
      </div>
      <div class="profile-info-input">
        <label>
          state:
          <input type="text" name="" value="lagos" disabled />
        </label>
      </div>
      <div class="profile-info-input">
        <label>
          city:
          <input type="text" name="" value="ojodu" disabled />
        </label>
      </div>
      <div class="profile-info-input">
        <label>
          address:
          <input type="text" name="" value="{{user.address}}" disabled />
        </label>
      </div>
      
      <div class=" profile-info-link text-center text-capitalize">
        <a href="" class="text-decoration-none">update profile information</a>
      </div>
      <div class="profile-info-link text-center text-capitalize">
        <a href="" class="text-decoration-none">reset password</a>
      </div>

    </div>
    <div class="profile-order">
      <h1 class="text-center text-capitalize ">orders</h1>
      <hr>
      {% if not order_item  %}
      <p>no order yet</p>
      <a href="">order now</a>
      {% else  %}
        {% for order in order_item  %}
        <div class="each-order">
          <div class="each-order-img">
            <img src="{{order.product.pics.url}}" alt="food-img">
          </div>
          <div class="each-order-details">
            <h4 class="">{{order.quantity}}x{{order.product}}</h4>
            <p class="pb-2">₦{{order.item_total|intcomma }}</p>
            <p class="">{{order.order.created_at}}</p>
            <p class="">✔✔delivered</p>
          </div>
        </div>
        {% endfor %}
      {% endif  %}
        
      
      
    </div>
  </div>
{% endblock content %}
